@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600&display=swap');

/* @font-face {
    src        : url(../font/poppins-semibold.ttf);
    font-family: Poppins-SemiBold;
} */

body {

    font-family   : 'Barlow Condensed', sans-serif;
    /* font-family: 'Barlow Semi Condensed', sans-serif; 
    font-family   : 'Poppins', sans-serif;*/

}

/* .pap {
    overflow: hidden !important;
} */

/*
==============
bg img
==============
 */
.section {
    position: relative;

}

.section-two {
    position: absolute;
    top     : 80px;
    overflow: hidden;
}

.bg-image {
    /* width              : 100%;*/
    height             : 880px;
    background-image   : url(../img/bg-img.png);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

}

/*
==============
head text
==============
 */
.head-text h3 {
    color         : #6D6E70;
    font-family   : Poppins;
    font-style    : italic;
    letter-spacing: -0.04em;
    font-size     : 32px;
    margin-bottom : -22px;
    margin-left   : 141px;
    font-weight   : 600;
}

/*
==============
text
==============
 */
.text {
    margin-left     : 141px;
    /* padding-right: 710px; */
}

.text h3:nth-child(1) {
    font-size     : 23px;
    line-height   : normal;
    color         : #878787;
    font-style    : italic;
    letter-spacing: -0.04em;
    font-family   : 'Barlow Semi Condensed', sans-serif;
    padding-right : 59%;
    font-weight   : 300;
}

.text h3:nth-child(2) {
    font-size     : 20px;
    line-height   : normal;
    font-style    : italic;
    letter-spacing: -0.04em;
    color         : #0057e1;
}

/*
==============
email-signup
==============
 */
.email-signup {
    margin-left: 135px;
}

.email-img {
    position     : relative;
    margin-bottom: 5px;
    margin-top   : 15px;
}

.input-one {
    position: absolute;
    top     : 12px;
    left    : 14px;
}

.input-one input {
    font-style   : italic;
    padding      : 0px 10px;
    width        : 500px;
    font-weight  : 500;
    font-size    : 17px;
    border       : 0;
    border-radius: 18px;
    outline      : none;

}

.img-shorter {
    display : inline-block;
    position: relative;
}

.input-two {
    position: absolute;
    left    : 15px;
    bottom  : 29px;
}

.img-shorter img {
    margin-top: -67px;
}

.input-two input {
    font-style   : italic;
    padding      : 2px 8px;
    width        : 440px;
    font-weight  : 500;
    font-size    : 17px;
    border       : 0;
    border-radius: 40px;
    outline      : none;
}

.img-button-b {
    display: inline-block;
}

.button {
    position        : relative;
    width           : 55px;
    height          : 55px;
    border-radius   : 50%;
    background-image: url(../img/Button-Blue-01.png);
}

.btn-hover {
    width        : 50px;
    height       : 50px;
    background   : rgba(158, 240, 255, .4);
    position     : absolute;
    top          : 3px;
    border-radius: 50%;
    left         : 2px;
    visibility   : hidden;
}

.button:hover .btn-hover {
    visibility: visible;
    animation : fade 5s;
}

.img-button-b h3 {
    font-size  : 13px;
    line-height: normal;
    text-align : center;
    font-style : italic;
    color      : #fff;
    font-weight: bold;
}

/*
==============
footer logo
==============
 */
.footer-logo {
    margin-top : 40px;
    margin-left: 141px;
}

.footer-logo img:nth-child(2) {
    margin: 0px 20px;
}

.footer-logo h3 {
    font-size     : 14px;
    font-style    : italic;
    letter-spacing: -0.04em;
    color         : #878787;
    margin-top    : 18px;
    display       : inline-block;
}

.footer-logo .art {
    margin-left: 240px;
}